# Descomentar antes de publicar (lerna publish) e exportar NODE_AUTH_TOKEN com seu GitHub PAT
# export NODE_AUTH_TOKEN=ghp_seu_token_aqui
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
# @leroy-merlin-pt:registry=https://npm.pkg.github.com
